
header {
    
    display: flex;
    padding: 10px;
    align-items: center;
}
body{
   background: #EAEAEA;
   margin: 0;
   padding: 0;
   width: 500px;
   margin: 0 auto;
   margin-top: 40px;
   font-family: 'Roboto', sans-serif;
}

.logo{
    margin-right: 10px;
}
.logo i{
    font-size: 30px;
    
}
.headOptions {
    flex: 1;
    text-align: right;
}
.headOptions i{
    font-size: 25px;
}
.icons {
    display: flex;
}
.icons i{
    font-size: 30px;
    margin-right: 10px;
}
.icons .fa-bookmark{
    flex: 1;
    text-align: right;
    margin-right: 0;
}
.footer{
    padding: 10px;
}
.footer div {
    margin-bottom: 15px;
}
.post {
    border: 1px solid #130f0f;
    background: white;
    border-radius: 5px;
}
.imgPost img {
    width: 100%;
}